<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2 product-details">
       <!-- Product Box -->
      <div class="product-box">
        <!-- Images Section -->
        <div class="images">
           <!-- Loop through each image in the product -->
          <div *ngFor="let image of product.images" (click)="zoomImage(image)">
            <img [src]="image" alt="{{ product.title }}" class="thumbnail">
          </div>
        </div>
        <!-- Details Section -->
        <div class="details">
          <h2>{{ product.title }}</h2>
          <p class="brand">Brand: {{ product.brand }}</p>
          <p class="category">Category: {{ product.category }}</p>
          <p class="description">{{ product.description }}</p>
          <p class="price">Price: ${{ product.price }}</p>
          <p class="discounted-price">Discounted Price: ${{ product.price - (product.price * (product.discountPercentage
            / 100)) }}</p>
          <p class="stock">Stock: {{ product.stock }}</p>
          <p class="rating">Rating: {{ product.rating }}</p>
          <button class="btn btn-primary buy-btn" (click)="buy()">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div>